<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />    
      <add key="Configuration" value="Default" />
      <add key="ikvm:java.system.class.loader" value="vitrana.DocumentumModel.Infrastructure.Ikvm.SystemClassLoader, DocumentumService" />
      <!-- Documentum server timezone in Java format -->
      <add key="ikvm:user.timezone" value="America/New_York" />
      <add key="DocumentumURL" value="http://192.168.1.7:8080/da"/>
      <add key="DocumentumServer" value="192.168.1.7"/>
      <add key="DocumentumConfigFolderPath" value="C:\Documentum\config"/>
      <!--<add key="UserName" value="dm_bof_registry"/>-->
      <add key="UserName" value="dmadmin"/>
      <add key="Password" value="password"/>
      <add key="CabinetName" value="dmadmin"/>
      <add key="RepositoryName" value="MyRepo"/>
    <!--if you want to give the sub folder path you will give as like this
    TransformPV/ABC-->
    <add key="FolderName" value="TransformPV"/>  

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="defaultwsHttpBindingConfig" openTimeout="00:30:00" closeTimeout="00:30:00" 
                 sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <security mode="None">            
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="DocumentumService.Services.DocBrockerService" behaviorConfiguration="defaultHttpBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="DocumentumService.ServiceContracts.IDocBrockerService" 
                  bindingConfiguration="defaultwsHttpBindingConfig">          
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                  
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultHttpBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
